body {
    background: #1C6EA4;
    background: linear-gradient(left, #1C6EA4 0%, #898FCB 50%, #1C6EA4 100%);
    background: linear-gradient(left, #1C6EA4 0%, #898FCB 50%, #1C6EA4 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #898FCB 50%, #1C6EA4 100%);
    user-select: none;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 300%;
    letter-spacing: 6px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    border: solid black 3px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightblue;
    text-shadow: 1px 2px 2px #1C6EA4;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.button {
    text-align: center;
    width: 30px;
    color: blue;
    font-size: 30px;
    line-height: 20px;
    padding: 10px;
    border-radius: 25px;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    background-color: lightblue;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    cursor: pointer;

}

.button:hover {
    background: #1C6EA4;
}

.button:active {
    background: #1C6EA4;
}

.points {
    margin-top: 100px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 200%;
    letter-spacing: 4px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    width: 150px;
    color: rgb(0, 0, 85);
    line-height: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: lightblue;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    cursor: pointer;
    height: 30px;
}